body {
  background-image: linear-gradient(25deg,rgb(107, 240, 158), rgb(27, 24, 24));
}
.gambar-aqil {
  position: absolute;
  left: 30px;
  top: 30px;
  border-radius: 25%;
}
.kapsul {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 170px;
}
.kapsul:hover .kapsul-atas {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.kapsul:hover .kapsul-bawah {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.kapsul:hover .gambar-aqil {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.kapsul-atas {
  width: 100px;
  height: 200px; 
  background-image: linear-gradient(to bottom,rgb(107, 240, 158), rgb(47, 63, 57));
  border-top-left-radius: 110px;  
  border-bottom-left-radius: 110px; 
  border: 10px solid rgb(27, 24, 24);
  border-bottom: 1;
  position: absolute;
  left: -10px;
  top: -10px;
}
.kapsul-bawah {
  width: 100px;
  height: 200px;
  background-image: linear-gradient(to bottom,rgb(107, 240, 158), rgb(47, 63, 57));
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  border: 10px solid rgb(27, 24, 24);
  border-bottom: 1;
  position: absolute;
  left: 100px;
  top: -10px;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
